@model FashionStore.Models.Comment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    mark {
        box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    }

    button:hover {
        box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    }

    mark {
        border: 2px solid;
        border-radius: 12px;
        padding: 5px;
    }
</style>

<div class="card">
    <div class="card-body">
        <h1 class="text-center">
            <mark class="bg-success text-white">
                Tạo mới
                <i class="mdi mdi-account-edit-outline"></i>
            </mark>
        </h1>

<h4>Bình luận</h4>
<hr />
<div class="row">
    <div class="col-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCustomer" class="control-label"></label>
                <select asp-for="IdCustomer" class ="form-control" asp-items="ViewBag.IdCustomer"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProduct" class="control-label"></label>
                <select asp-for="IdProduct" class ="form-control" asp-items="ViewBag.IdProduct"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPost" class="control-label"></label>
                <input asp-for="IdPost" class="form-control" />
                <span asp-validation-for="IdPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Folder" class="control-label"></label>
                <input asp-for="Folder" class="form-control" />
                <span asp-validation-for="Folder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-info btn-icon-text">
            <i class="mdi mdi-keyboard-return"></i>
            Quay về
        </button>
    </a>
</div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
