@model FashionStore.Models.ProductColor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    mark {
        box-shadow: 0 0 5px cyan, 0 0 25px cyan;
    }

    button:hover {
        box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    }

    mark {
        border: 2px solid;
        border-radius: 12px;
        padding: 5px;
    }
</style>

<div class="card">
    <div class="card-body">
        <h1 class="text-center">
            <mark class="bg-success text-white">
                Tạo mới
                <i class="mdi mdi-account-edit-outline"></i>
            </mark>
        </h1>

<h4>Màu sản phẩm</h4>
<hr />
<div class="row">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ColorName" class="control-label"></label>
            <input asp-for="ColorName" class="form-control" />
            <span asp-validation-for="ColorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageProductColor" class="control-label"></label>
            <input asp-for="imageProductColor" class="form-control"/>
            <span asp-validation-for="ImageProductColor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageColor" class="control-label"></label>
            <input asp-for="imageColor" class="form-control"/>
            <span asp-validation-for="ImageColor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-info btn-icon-text">
            <i class="mdi mdi-keyboard-return"></i>
            Quay về
        </button>
    </a>
</div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
