@model FashionStore.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sửa</h1>

<h4>Người dùng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCustomer" />
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhone" class="control-label"></label>
                <input asp-for="CustomerPhone" class="form-control" />
                <span asp-validation-for="CustomerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurstomerBirtday" class="control-label"></label>
                <input asp-for="CurstomerBirtday" class="form-control" />
                <span asp-validation-for="CurstomerBirtday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurstomerIdentification" class="control-label"></label>
                <input asp-for="CurstomerIdentification" class="form-control" />
                <span asp-validation-for="CurstomerIdentification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerImage" class="control-label"></label>
                <input asp-for="CustomerImage" class="form-control" />
                <span asp-validation-for="CustomerImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAccountType" class="control-label"></label>
                <input asp-for="CustomerAccountType" class="form-control" />
                <span asp-validation-for="CustomerAccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authentication_code" class="control-label"></label>
                <input asp-for="Authentication_code" class="form-control" />
                <span asp-validation-for="Authentication_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-info btn-icon-text">
            <i class="mdi mdi-keyboard-return"></i>
            Quay về
        </button>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
